.exercise-detail-page {
    display: flex;
}

.exercise-detail-page-right {
    flex: 1;
    display: flex;
    flex-direction: column;
    max-width: 90vw;
    max-height: 100vh;
}

.exercise-detail-page-right-top {
    padding: 2rem;
    color: #80fa01;
}

.exercise-detail-page-right-top h1 {
    font-size: 3.5rem;
}

.exercise-detail-page-right-top p {
    font-size: 1rem;
    font-weight: 600;
    color: #ddf6c1;
}

.exercise-detail-page-right-top h2 {
    font-size: 2rem;
    font-weight: 600;
}

.exercise-detail-page-right-bottom {
    flex: 1;
    display: flex;
    flex-direction: column; /* Stack children vertically */
    max-height: 100%; /* Ensure it does not exceed the height of its container */
    overflow: hidden; /* Hide overflow */
}

.chart-container {
    display: flex;
    justify-content: center; /* Center the chart horizontally */
    align-items: start; /* Center the chart vertically */
    width: 100%; /* Full width of the parent */
    height: 100%; /* Full height of the parent */
    padding: 1rem; /* Padding around the chart */
    box-sizing: border-box; /* Include padding in width and height */
    overflow: hidden; /* Hide overflow */
}

.chart-wrapper {
    width: 100%; /* Full width of the container */
    height: 100%; /* Full height of the container */
    display: flex;
    justify-content: center; /* Center the chart horizontally */
    align-items: center; /* Center the chart vertically */
}

.chart-wrapper canvas {
    max-width: 100%; /* Prevent exceeding container width */
    max-height: 100%; /* Prevent exceeding container height */
    width: auto; /* Adjust width automatically */
    height: auto; /* Adjust height automatically */
}
