.workout-history-page{
display: flex;
height: 100vh;
}

.workout-history-page-content{

   flex: 1;
    h2{
        height: 10vh;
        color: #80fa01;
        font-size: 3.7rem;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

.history-loading{
    color: #80fa01;
    font-size: 3rem;
    margin: 2rem;
    font-weight: 600;
}
.history-error{
    color: #e41d1d;
    font-size: 2.5rem;
    margin: 2rem;
    font-weight: 600;
}

.workout-history {
    padding: 1rem 1rem 0 1rem;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    overflow-y: auto; 
    scrollbar-width: thin; 
    scrollbar-color: #80fa01 rgba(18, 18, 18, 0.5); 
    height: 88vh;
    background-size: 100px 100px;
    background-image: repeating-linear-gradient(
        135deg,
        #80fa01 0,
        #80fa01 0.5px,
        #1f1f1f 0,
        #1f1f1f 50%
    );
}


.workout-history::-webkit-scrollbar {
    width: 8px;
}

.workout-history::-webkit-scrollbar-track {
    background: rgba(18, 18, 18, 0.5); 
}

.workout-history::-webkit-scrollbar-thumb {
    background: #80fa01; 
    border-radius: 10px;
}

.workout-history::-webkit-scrollbar-thumb:hover {
    background: #65e700;
}

.workout-card {
    background-color: rgba(18, 18, 18, 0.5);
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(7px);
    box-shadow: 0px 0px 8px 0px #80fa01;
    outline: 1px solid #80fa01;
    margin: 0.3rem;
    width: 16rem;
    height: 25rem;
    overflow-y: auto;
    padding: 1rem;
}

.workout-card::-webkit-scrollbar {
    width: 8px;
}

.workout-card::-webkit-scrollbar-track {
    background: rgba(18, 18, 18, 0.5);
}

.workout-card::-webkit-scrollbar-thumb {
    background: #80fa01;
    border-radius: 10px;
}

.workout-card::-webkit-scrollbar-thumb:hover {
    background: #65e700;
}


.workout-card {
    scrollbar-width: thin;
    scrollbar-color: #80fa01 rgba(18, 18, 18, 0.5);
}


.workout-card h3{
    color: #80fa01;
    border-bottom: 1px solid #80fa01;
    padding-bottom: 6px;
    display: flex;
    align-items: end;
}
.workout-card-buttons{
    display: flex;
    button{
        background-color: transparent;
        height: fit-content;
        padding: 1px;
        margin: 3px;
        border: none;
        font-size: 1.5rem;
        cursor: pointer;
        color: #80fa01;
    }
    button:hover{
        transform: scale(1.2);
    }
}

.workout-card-exercise-ul{
    margin-top: 1rem;
    list-style: decimal;
}
.workout-card-exercise-ul-li{
    color: #80fa01;
    font-size: 1.2rem;
    font-weight: 800;
    margin-top: 1rem;
}
.workout-card-set-ul{
    list-style: none;
    padding: 0;
}
.workout-card-set-ul li{
    font-size: 1.1rem;
    font-weight: 400;
    color: #ddf6c1;
}

@media (max-width: 700px){
    .workout-history-page-content{


        h2{
              font-size: 3rem;
        }
    }
    
}